USE [master]
GO
/****** Object:  Database [Admin_usuarios]    Script Date: 24/02/2024 19:20:48 ******/
CREATE DATABASE [Admin_usuarios]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Admin_usuarios', FILENAME = N'D:\SQL\MSSQL16.SQLEXPRESS\MSSQL\DATA\Admin_usuarios.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Admin_usuarios_log', FILENAME = N'D:\SQL\MSSQL16.SQLEXPRESS\MSSQL\DATA\Admin_usuarios_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Admin_usuarios].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Admin_usuarios]
GO
/****** Object:  Table [dbo].[Login]    Script Date: 24/02/2024 19:20:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Login](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[Usuario] [varchar](50) NULL,
	[Email] [varchar](50) NULL,
	[Contraseña] [varchar](50) NULL,
 CONSTRAINT [PK_Login] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Login] ON 

INSERT [dbo].[Login] ([id], [Usuario], [Email], [Contraseña]) VALUES (1, N'rolan', N'rolan@gmail.com', N'12345678')
INSERT [dbo].[Login] ([id], [Usuario], [Email], [Contraseña]) VALUES (2, N'pedro', N'pedro@gmail.com', N'pepe123')
INSERT [dbo].[Login] ([id], [Usuario], [Email], [Contraseña]) VALUES (3, N'string', N'string', N'string')
SET IDENTITY_INSERT [dbo].[Login] OFF
GO
USE [master]
GO
