* {
	font-family: Arial, Helvetica, sans-serif;
}

#titulo {
	display: flex;
	color: #7ac750;
	justify-content: space-around;
}

#categorias {
	text-align: center;
	color: #7ac750;
	display: flex;
	justify-content: space-around;
	padding-left: 70px;
}

#page {
	display: flex;
	justify-content: center;
}

#producto-lista {
	text-align: center;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	justify-content: space-around;
	width: 80%;
	padding: 20px;
}
#producto-lista img {
	width: 70%;
	height: 60%;
}

.producto {
	padding: 20px;
	height: 310px;
}

.producto img {
	height: 100%;
}

.producto button {
	background-color: #7ac750; /* Fondo gris */
	color: #ffffff; /* Texto blanco */
	border: 1px solid #7ac750; /* Borde gris */
	border-radius: 5px; /* Bordes redondeados */
	padding: 10px 20px; /* Espacio interno */
	text-align: center; /* Centrar texto */
	text-decoration: none; /* Quitar subrayado */
	display: inline-block; /* Mostrar como elemento en línea */
	font-size: 16px; /* Tamaño de fuente */
	cursor: pointer; /* Cambiar cursor al pasar sobre el botón */
	transition: background-color 0.3s, color 0.3s; /* Transición suave */
}

.producto button:hover {
	background-color: #c4f1aa; /* Cambio de color al pasar el ratón */
	color: #111010; /* Texto blanco */
}

.producto p {
	text-align: left;
	padding-left: 30px;
}

#categ-producto {
	color: #cbcbcb;
	font-size: 9px;
}

#nombre-producto {
	color: #a4a4a4;
	font-size: 12px;
	font-weight: bold;
}

#precio-producto {
	color: #7ac750;
	font-size: 16px;
	font-weight: 700;
}
